.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
    font-family: 'Helvetica', 'Arial';
}

.photo-cover {
    width: 100%;
}

.blue {
    color: #033d7d;
}

.gold {
    /* It's actually yellow lol */
    color: #ffea01;
}

a {
    text-decoration: none;
}

.news-image {
    width: 100%;
    max-height: 480px;
}

.news-image-small {
    max-width: 320px;
}

.news-title {
    color: #000;
    margin: 0;
    font-size: 1.5em;
}

.news-title:hover {
    color: #033d7d;
    text-decoration: underline;
}

.news-author {
    margin-top: 5px;
    font-size: 15px;
    color: rgba(0,0,0,0.6);
    font-family: 'Arial';
}

.section-name {
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 2.3em;
}

p {
    font-size: 15px;
}

.section-name, .news-title, p, a {
    color: rgba(0,0,0,0.8);
}


/***************************
    HEADER - NAVIGATION
***************************/

.header {
    margin-top: 1.35em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    display: flex;
}

.header__title__logo {
    width: 70px;
    height: 70px;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header__navigation li {
    list-style: none;
    margin: 5px;
}

.header__navigation li:hover {
    border-bottom: 2px solid #033d7d;
}

.header__navigation_li--active  {
    border-bottom: 2px solid #033d7d;
}

.header__navigation a {
    color: #000;
    font-size: 1em;
    padding: 10px;
}

/*****************
    BIG ASS HEADLINE
*****************/

.headline {
    padding-bottom: 15px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.headline__main {
    width: 65%;
    padding: 15px;
    border-right: 1px solid rgba(0,0,0,0.2);
  
}

.headline__sub {
   display: flex;
   flex-direction: column;
   width: 35%;
   padding: 15px;
}

.headline__sub__news {
    flex-grow: 1;
}

/***********
 FEATURED NEWS
***********/
.featured {
    display: flex;
    flex-wrap: wrap;
    margin-top: 5px;
    padding-top: 8px;
    border-top: 1px solid rgba(0,0,0,0.2);
}

.featured__news {
    flex-basis: 245px;
    padding: 5px;
    margin: 15px;
    flex-grow: 1;
    border-bottom: 1px solid rgba(0,0,0,0.2);
}


.featured__news:nth-child(2), .featured__news:nth-child(6) {
    flex-basis: 700px;
    display: flex;
}

.featured__news__image-container {
    margin-right: 12px;
}


/**********
    NORM NEWS
***********/

.norm {
    margin-top: 5px;
    padding-top: 10px;
    border-top: 1px solid rgba(0,0,0,0.2);
}


.norm__news { 
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid rgba(0,0,0,0.2);
    padding-bottom: 5px;
    margin-bottom: 10px;
}
.norm__news__desc-container {
    padding: 15px;
}




