.container {
    width: 100%;
    max-width: 1150px;
    margin: 0 auto;
}


/***************************
    HEADER - NAVIGATION
***************************/

.header {
    margin-top: 1.35em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.header__title {
    display: flex;
}

.header__title__logo {
    width: 70px;
    height: 70px;
}

.header__navigation {
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.header__navigation li {
    list-style: none;
    margin: 5px;
}

.header__navigation li:hover {
    border-bottom: 2px solid royalblue;
}

.header__navigation_li--active  {
    border-bottom: 2px solid royalblue;
}

.header__navigation a {
    color: #000;
    font-size: 1.35em;
    padding: 10px;
}

.photo-cover {
    width: 100%;
    max-width: 1150px;
}


/********************
    MAULIT ULIT MET ANYA MET
*********************/
a {
    text-decoration: none;
}

.news-image {
    width: 100%;
    max-height: 480px;
}

.news-image-small {
    max-width: 300px;
}

.news-title {
    color: #000;
    margin: 0;
}

.news-title:hover {
    color: royalblue;
    text-decoration: underline;
}

.news-author {
    margin-top: 0;
}

.section-name {
    text-decoration: underline;
    margin-bottom: 0;
    font-size: 2.3em;
}


/*****************
    BIG ASS HEADLINE
*****************/

.headline {
    padding-bottom: 15px;
    display: flex;
    border-bottom: 1px solid rgba(0,0,0,0.3);
}


.headline__main {
    width: 65%;
    padding: 15px;
    border-right: 1px dashed rgba(0,0,0,0.5);
  
}

.headline__sub {
   width: 35%;
   padding: 15px;
}

/***********
 FEATURED NEWS
***********/
.featured {
    display: flex;
    flex-wrap: wrap;
    margin-top: 2px;
    padding-top: 8px;
    border-top: 1px solid rgba(0,0,0,0.3);
}

.featured__news {
    flex-basis: 245px;
    padding: 5px;
    margin: 15px;
    flex-grow: 1;
    border-bottom: 1px dashed rgba(0,0,0,0.5);
}


.featured__news:nth-child(2), .featured__news:nth-child(6) {
    flex-basis: 700px;
    display: flex;
}

.featured__news__image-container {
    margin-right: 5px;
}







